.wrapper
  = render "devise/shared/side_bar"
  .chat-main
    .chat-main__header
      .chat-main__header--group
        .chat-main__header--group--name
          TECKEXPERT
        .chat-main__header--group-edit-btn
          = link_to 'EDIT', '#'
        .chat-main__header-members
          MEMBER:araki
    .chat-main__body
